<!DOCTYPE html>
<html>
<head>
	<title>Cotty costs!</title>
	<style>
		table {
			width: 100%;
		}
		.bottom {
						background-color: grey;
		}
		th {
			border: 1px solid black;
			border-collapse: collapse;
			width: 10%;
			text-align: center;
			background-color: grey;
		}
		td {
		    border: 1px solid black;
		    border-collapse: collapse;
		    width: 5%;
		    text-align: center;
		}
	</style>
</head>
<body>
	<table>
		<caption style="
			width: 100%;
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			vertical-align: middle; 
			background-color: grey;
			"><b>COSTS AND PAYMENT STATUS</b></caption>
		<tr>
			<th>NAME</th>
			<th># OF NIGHTS</th>
			<th>COTTY COST</th>
			<th>FOOD COST</th>
		</tr>

		<% for (person in price) { %>
		<tr>
			<td name="name"style="background-color: lightgrey"><b><%= person.toUpperCase() %></b></td>
			<td>
				<b><%= price[person]["numNights"] %> night(s)</b>
				<form method="POST" action="/">
					<input type="radio" name="nights" value="0"> 0
					<input type="radio" name="nights" value="1"> 1
					<input type="radio" name="nights" value="2"> 2
					<input type="submit" name="<%= person %>" value="Change">
				</form>
			</td>
			<td>
				<b>$<%= price[person]["cottage"] %></b>
			</td>
			<td>
				<b>$<%= price[person]["food"] %></b>
			</td>
		</tr>
		<% } %>
		<tr class="bottom">
			<td><b>
				TOTAL
			</b></td>
			<td>
				<b>One night: </b><%= %><b> Two nights: </b><%=  %>
			</td>
			<td>
				<b>Actual:</b> $<%= costCotty %> <b>After rounding up: </b>$<%= sum %> <b>Cman's profit:</b>$<%= sum - costCotty %>
			</td>
			<td>
				
			</td>
		</tr>
	</table>
</body>
</html>